<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<title>青年之声</title>
	<script type='text/javascript' src='/static/js/index.min.js'></script>
	<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
	<link rel='stylesheet' type='text/css' href='/static/css/home.css'></style>
	<link rel='stylesheet' type='text/css' href='/static/css/all.css'></style>
</head>
<body>
	<div class="main">
		
		<div class="banner">
			<img src="/static/img/banner.jpg" alt="">
		</div>
		<nav class="nav" id="nav">
			<div class="active" id="hot">热门话题</div>
			<div id="nosolve">未解决</div>
			<div id="solved">已解决</div>
		</nav>
		<div class="pageout" id='pageout'>
			<div class="page" id='page'>
				
			</div>
		</div>
		<div class="showimg" id='showimg'>
			<div id="int" style="color:#fff;z-index: 10"></div>
			<div id="int2" style="color:#fff;z-index: 10"></div>
			<div id="int3" style="color:#fff;z-index: 10"></div>
		</div>
		<div class="menu">
			<div class="menu_in">
				<div class="menu_home active" id="menu_home" >
					首页
				</div>
				<div class="menu_active" id="menu_active">
					活动
				</div>
				
				<div class="menu_message" id="menu_message">
					消息
				</div>
				<div class="menu_my" id="menu_my">
					我的
				</div>
			</div>
			<div class="menu_publish" id='menu_publish'></div>
		</div>
	</div>
	<script type='text/javascript' src="/static/js/jquery.js"></script>
	<script type='text/javascript' src="/static/js/all.js"></script>
	<script type='text/javascript' src="/static/js/home.js"></script>
</body>
</html>