<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<title>登录</title>
	<script type='text/javascript' src='/static/js/index.min.js'></script>
	<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
	<link rel='stylesheet' type='text/css' href='/static/css/login.css'></style>
	<link rel='stylesheet' type='text/css' href='/static/css/all.css'></style>
</head>
<body>
	<div class="loginmain" id='loginmain'>
		<input type="text" id='stu_id' placeholder="请输入学号">
		<input type="password" id='password' placeholder="请输入密码">
		<div class="buttun">
			<div class="login" id='login'>登录</div>
			<div class="register" id="register">注册</div>
		</div>
		
	</div>
	<div class="registermain" id='registermain'>
		<input type="text" id='rname' placeholder="请输入姓名">
		<input type="text" id='rstu_id' placeholder="请输入学号">
		<input type="text" id='rhname' placeholder="请输入昵称">
		<input type="password" id='rpassword' placeholder="请输入密码">
		<div class="buttun">
			<div class="rregister" id='rregister'>注册</div>
			<div class="register" id="fanhui">返回</div>
		</div>
		
	</div>
	<script type='text/javascript' src="/static/js/jquery.js"></script>
	<script type='text/javascript' src="/static/js/login.js"></script>
</body>
</html>